/* phần css đầu */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  height: 40px;
  padding: 28px 100px;
}
a {
  color: #ffff;
  text-decoration: none;
}
/* class  được trỏ đến */
.active {
  color: #808384;
  transition: all 0.3 linear;
  text-decoration: none;
  font-weight: 600;
}
header {
  background-color: #212529;
}
.link:hover {
  color: #c2bdbd;
  font-size: 17px;
}
.active {
  color: #b4aeae;
  font-weight: 600;
  font-size: 18px;
}
.red {
  color: red;
}
h2 {
  width: auto;
  height: 30px;
  font-weight: 400;
  font-size: 19.74px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #212529;
}
.h2Header {
  width: auto;
  height: 30px;
  font-weight: 400;
  font-size: 19.74px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffff;
}
.h2HeaderMain{
  width: auto;
  height: 24px;
  font-weight: 500;
  font-size: 19.72px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #212529;
}

.link-container {
  display: flex;
  gap: 16px;
}
.footer {
  width: auto;
  height: 56px;
  background-color: #212529;
}
h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}
footer {
  width: auto;
  height: 24;
  top: 16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16.02px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding: 16px 0;
}
.main-container {
  width: 100%;
  height: calc(100vh - 112px);
  padding-top: 24px;
  padding-left: 200px;
  padding-right: 312px;
}
.header-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.tag {
  display: flex;
  align-items: center;
}
.box {
  display: flex;
  gap: 16px;
  align-items: center;
  width: auto;
}
.item-contents {
  font-weight: 500;
  font-size: 23.54px;
  line-height: 28.8px;
  letter-spacing: 0px;
}
.decribe {
  font-weight: 400;
  font-size: 15.99px;
  line-height: 24px;
  padding-top: 16px;
}
.btnAddEmployee {
  height: 31;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #6c757d;
  color: #6c757d;
  background-color: #ffff;
  text-align: center;
  vertical-align: middle;
}
.btnAddEmployee:focus {
  background-color: #cec7c7;
  transition: all 0.3s linear;
}

.logoName {
  color: #ffff;
  background-color: #0d6efd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
}
#name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #212529;
}
#roleEmployee {
  color: #aca3a3;
}
span {
  color: #78909c;
  font-weight: 600;
  font-size: 13.65px;
  line-height: 24px;
  letter-spacing: 0px;
}
.menu {
  width: 40px;
  height: 42px;
  border-radius: 32px;
  background-color: #e2e3e5;
  cursor: pointer;
}
.box-name {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-left-main {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.btnAddTask {
  margin-top: 77px;
}
.sortFilter {
  display: flex;
  gap: 16px;
  margin-top: 28px;
}
.decribe {
  height: 28px;
  width: auto;
}
.addTask {
  display: flex;
  justify-content: space-between;
}
.header-right-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.select {
  width: 150px;
  height: 38px;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid #dee2e6;
}
.traform{
  transform: rotate(90deg);
}
#inputSearch {
  width: 220px;
  height: 38px;
  padding: 9px;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid #dee2e6;
}
#btnAddTask {
  width: 155px;
  height: 38px;
  border-radius: 6px;
  border-width: 1px;
  border: none;
  background-color: #0d6efd;
  color: #ffff;
  cursor: pointer;
}
#btnAddTask:hover {
  background-color: #074fbb;
  color: #ffff;
  transition: all 0.3s linear;
}
#close {
  cursor: pointer;
}

/* phần css thân */
.body-main {
  margin-top: 19px;
  padding: 17px;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
}
.tranform {
  transform: rotate(90deg);
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
  border-width: 1px;
}
#listTodo {
  display: none;
}

td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  background-color: #ffffff;
}
th {
  border: 1px solid #dfe0e1;
  padding: 8px;
  border-radius: 1px;
  background-color: #f8f9fa;
}
.textth {
  width: 97px;
  height: 24px;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
tr {
  height: 41px;
  top: 1px;
  left: 1px;
  border-width: 1px;
}
.section-header {
  font-weight: bold;
  cursor: pointer;
  background-color: #f9f9f9;
}
.badge {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  color: #ffff;
}
.badge-low {
  background-color: #0DCAF0;
}
.badge-medium {
  background-color: #FFA500;
}
.badge-higth {
  background-color: #DC3545;
}
.badge-done {
  background-color: #198754;
}
.date{
  color: #0D6EFD;
}
.btnList{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.nameTask{
  width: 20%;
}
.btn {
  width: 53px;
  height: 33px;
  text-align: center;
  border-radius: 4px;
  border-width: 1px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}
.btn-edit {
  color: #ffff;
  background-color: #FFC107;
}
.btn-cancel,
.btn-edit,
.btn-cancel{
  width: 53px;
  height: 37px;
  border-radius: 4px;
  border-width: 1px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btnConfirmTask{
  width: 53px;
  height: 37px;
  border-radius: 4px;
  border-width: 1px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}
#btnCancelTask{
  width: 58px;
  height: 34px;
  border-radius: 8px;
  gap: 8px;
  padding: 10px 18px;
  border-width: 1px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}
.btn-delete {
  text-align: center;
  width: 53px;
  height: 34px;
  border-radius: 4px;
  border-width: 1px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #ffff;
  background-color: #DC3545;
}
.task-row {
  background-color: #fff;
}
.hidden {
  display: none;
}
/* CSS phần modal thêm sửa */
.header-modal {
  width: 100%;
  height: 30px;
  font-weight: 500;
  font-size: 23.3px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
#closeAddProject {
  width: 28px;
  height: 28px;
}
.modal {
  position: absolute;
  margin-top: 33px;
  left: 40%;
  width: 400px;
  background-color: #ffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 15px;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.bodyForm {
  background-color: #fff;
  padding: 24px 15px;
}
.mainAdd {
  background-color: #ffff;
}
.footerAdd {
  display: flex;
  padding-top: 37px;
  padding-right: 24px;
  padding-bottom: 8px;
  gap: 23px;
  justify-content: flex-end;
}
button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn {
  display: flex;
  gap: 16px;
}
.cancel {
  width: 58px;
  height: 37px;
  left: 11px;
  border-radius: 8px;
  border-width: 1px;
  background: #ccc;
}
.save {
  width: 58px;
  height: 37px;
  left: 11px;
  border-radius: 8px;
  border-width: 1px;
  background: #007bff;
  color: white;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
}
.headerList {
  display: flex;
  align-items: center;
}
.nameList {
  width: auto;
  height: 20px;
  font-weight: 800;
  font-size: 15.47px;
  line-height: 20px;
  letter-spacing: 0px;
}

/* Css modal thêm thành viên */
#modalAddEployee {
  position: absolute;
  width: 480px;
  height: 415px;
}
.body-modal {
  height: 85px;
}
.close {
  width: 28px;
  height: 28px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.headerAdd {
  width: 221px;
  height: 30px;
  font-weight: 500;
  font-size: 23.3px;
  line-height: 30px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* css modal thêm task */
#modalAddContainer {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.add-container{
  position: relative;
  bottom: 20%;
}
.body-modalAdd {
  width: 432px;
  height: auto;
  margin: 9px;
  padding: 24px 15px;
}
.add-container {
  width: 480px;
  background-color: #ffff;
  border-radius: 8px;
}
.header-modal {
  padding: 15px 16px;
  height: 63px;
}
.selectRole {
  width: 432px;
  height: 45px;
  border: 1px solid #dddee0;
  padding-bottom: 10px;
}
#emailEmployee {
  width: 432px;
  height: 44px;
  border-radius: 8px;
  gap: 8px;
  border-width: 1px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid #dddee0;
}
.btnSave {
  width: 58px;
  height: 37px;
  background-color: #0d6efd;
  color: #ffff;
  border: 1px solid #0d6efd;
  border-radius: 8px;
  border-width: 1px;
}
.btnCancel {
  width: 58px;
  height: 37px;
  border-radius: 8px;
  background-color: #6c757d;
  border: 1px solid #6c757d;
  text-align: center;
  color: #ffff;
  border-width: 1px;
}
label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #344054;
}
#footer-modalAdd {
  padding: 8px 24px;
}

/* Modal hiển thị nhân viên trong dự án */
#modalRenderEployee {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-width: 1px;
}
.containerShowEmployee {
  display: flex;
  justify-content: space-between;
}
.header-modal {
  padding: 16px 21px;
}
.selectRoleAgain{
  width: 200px;
}
.modalrender {
  width: 598px;
  border-radius: 7px;
  background-color: #ffff;
  position: relative;
  left: 30%;
  top: 39px;
}
.listEmployee {
  display: flex;
  gap: 16px;
}
.contentHeader {
  width: 120px;
  height: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.headerrender {
  width: 99px;
  height: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
#footer-modalrenderEmployee {
  background-color: #ffff;
  padding: 16px 21px;
  border-radius: 7px;
}
.iconTrash {
  width: 40px;
  height: 40px;
  top: 3.5px;
  left: 178px;
}
.inputRole {
  width: 148px;
  height: 26px;
  left: 14px;
  border-width: 1px;
  border-radius: 3px;
  border: 1px solid #d0d5dd;
}
#bodyModalEmployee {
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffff;
  padding: 16px 20px;
}
#listEmployeeRigth {
  display: flex;
  align-items: center;
  gap: 16px;
}
.headerrender {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #212529;
}
.btnCloseModalEmploye {
  width: 64px;
  height: 38px;
  border-width: 1px;
  border-radius: 6px;
  color: #ffff;
  background-color: #6c757d;
}
.btnSaveModalEmploye {
  width: 54px;
  height: 38px;
  border-width: 1px;
  border-radius: 6px;
  background-color: #0d6efd;
  color: #ffff;
  border: none;
}
.nameMembers {
  width: auto;
  height: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 19.2px;
  letter-spacing: 0px;
  color: #212529;
}
.emailMembers {
  width: 187px;
  height: 21px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0px;
}
.roleMembers {
  width: 187px;
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  color: #c1c1c3;
}

/* CSS modal xoá */
.body-modal {
  display: flex;
  align-items: center;
}
.textDelete {
  padding: 14px 22px;
}
.body-modal {
  padding: 14px 22px;
}
#footer-modal-delte {
  padding: 14px 22px;
}
.btnConfirm {
  background-color: #f44336;
  color: #ffff;
}
